@font-face {
	font-family:'Trebuchet-Web';
	src:url(Fonts/trebuchet/trebuchet.eot);
}

@font-face {
	font-family:'Arsenal-Regular';
	src:url(Fonts/Arsenal/Arsenal-Regular.otf) format('opentype');
}

@font-face {
	font-family:'FontAwesome';
	src:url(Fonts/fontawesome/fontawesome-webfont.eot) format('opentype');
}

body {
    font-family: "FontAwesome", "Arsenal-Regular", "Trebuchet-Web", Verdana, Helvetica, Sans-Serif;
    font-size: .8em;
}

p, table, tr, td {
    font-size: 1.0em;
}

th {
    
}

#horizontalNavigation {
	clear: both;
}

.clickable {
    cursor: pointer;
}
.menu {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

	.menu li {
		float: left;
	}

	.menu a {
		display: block;
		color: #333333;
		padding: 5pt 7pt 5pt 7pt;
		text-decoration: none;
		border-left: 1pt solid #DDDDDD;
		border-right: 1pt solid #DDDDDD;
		border-top: 1pt solid #DDDDDD;
		border-bottom: 1pt solid #DDDDDD;
		background-color: #F5F5F5;
	}

.selectedMenuItem a {
	background-color: #163f4d;
	border-bottom: 1pt solid #FFFFFF;
	color:#DBDEE1;
}

.site-title {
    color: #c8c8c8;
    font-family: "Trebuchet-Web", Verdana, Helvetica, Sans-Serif;
    font-size: 3.4em;
    margin: 0;
}

.h4 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
    font-size: 1.9em;
}